{% extends 'base.html.twig' %}

{% block title %}Edit Ticker{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Edit Ticker</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <a  href="{{ path('ticker_index') }}" class="btn btn-sm btn-outline-info btn-lg">Back</a>
            </div>
        </div>
    </div>

    {{ include('ticker/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
